/* ==================================================
——————————————————————————————————————————————————
RESET
——————————————————————————————————————————————————
================================================== */

* { padding: 0; margin: 0; box-sizing: border-box; }

.debug1 { background: darkred; border: 1px solid black; }
.debug2 { background: darkorange; border: 1px solid black; }

/* ==================================================
——————————————————————————————————————————————————
GENERAL
——————————————————————————————————————————————————
================================================== */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #b3b3b3;
}

/* ==================================================
——————————————————————————————————————————————————
SIDEBAR
——————————————————————————————————————————————————
================================================== */



/* ==================================================
——————————————————————————————————————————————————
MAIN
——————————————————————————————————————————————————
================================================== */



/* ==================================================
——————————————————————————————————————————————————
FOOTER
——————————————————————————————————————————————————
================================================== */
