/* ==================================================
——————————————————————————————————————————————————
RESET
——————————————————————————————————————————————————
================================================== */

* { padding: 0; margin: 0; box-sizing: border-box; }

.debug1 { background: darkred; border: 1px solid black; }
.debug2 { background: darkorange; border: 1px solid black; }

/* ==================================================
——————————————————————————————————————————————————
GENERAL
——————————————————————————————————————————————————
================================================== */

/* ——————————————————————————————————————————————————
Colors

Black: #030303;
DarkGrey: #181818;
Grey: #282828;
Green: #1ed760; */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 400;
  color: #b3b3b3;
  background: #181818;
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: stretch;
  padding-bottom: 90px; /* Variare con height Footer */
}

.fixed { position: fixed; }

/* ——————————————————————————————————————————————————
Links */

a {
  text-decoration: none;
  transition: all .5s;
}

a:hover, a.player-ico:hover { color: #fff; }

/* ——————————————————————————————————————————————————
Lists */

ul li {
  list-style: none;
}

/* ——————————————————————————————————————————————————
Buttons */

.btn, a[class*="btn"] {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  transition: all .5s;
}

.btn-white-outline {
  border: 1px solid #fff;
  color: #fff;
}

/* ==================================================
——————————————————————————————————————————————————
NAVBAR ASIDE
——————————————————————————————————————————————————
================================================== */

aside {
  background: #030303;
  flex-basis: 230px;
  flex-shrink: 0;
  padding: 24px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

aside a { color: #b3b3b3; }

/* ——————————————————————————————————————————————————
Logo */

aside .logo {
  padding: 0 24px 18px;
}

aside .logo img.logo-desk {
  height: 40px;
}

aside .logo img.logo-smart {
  height: 40px;
  display: none;
}

/* ——————————————————————————————————————————————————
Main Menu */

aside ul.main-menu {
  margin-bottom: 32px;
}

aside ul.main-menu li a {
  padding: 0 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

aside ul.main-menu > li a img {
  width: 24px;
  margin-right: 24px;
}

aside .main-menu a.active {
  color: #fff;
  border-left: 3px solid #1ed760;
  padding-left: 21px;
}

/* ——————————————————————————————————————————————————
Playlist */

.playlist {
  padding: 0 24px;
  flex-grow: 1;
  overflow-y: scroll;
}

.playlist h3 {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .16em;
}

.playlist ul li:first-child {
  line-height: 32px;
  display: flex;
  align-items: center;
}

.playlist ul li:first-child a {
  flex-grow: 1;
}

.playlist ul li:first-child {
  margin: 16px 0;
}

.playlist ul li:first-child:before {
  content: '+';
  text-align: center;
  line-height: 32px;
  color: #030303;
  font-size: 32px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #b3b3b3;
  margin-right: 8px;
  top: 2px;
  cursor: pointer;
}

.playlist ul li:first-child:after {
  content: '';
  display: table;
  clear: both;
}

.playlist ul li:first-child:hover:before {
  background: #fff;
}

.playlist ul li a {
  display: block;
  padding: 8px 0;
}

/* ——————————————————————————————————————————————————
Navbar Footer */

.navbar-footer {
  padding: 0 24px;
}

.navbar-footer a.download {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #b3b3b3;
  line-height: 24px;
}

.navbar-footer h3 {
  padding: 12px 0 10px;
}

.navbar-footer h3 a {
  color: #fff;
  line-height: 30px;
  display: block;
}

.navbar-footer a img {
  width: 24px;
  margin-right: 12px;
  vertical-align: middle;
}

.navbar-footer a img.user-profile {
  width: 30px;
  height: 30px;
  background: #b3b3b3;
  border-radius: 50%;
  vertical-align: -8px;
}

/* ——————————————————————————————————————————————————
Responsive */

@media screen and (max-width: 576px) {

  aside {
    flex-basis: auto;
  }

  /* Logo */
  aside .logo {
    display: flex;
    justify-content: center;
  }

  aside .logo img.logo-smart { display: block; }

  aside .logo img.logo-desk,
  aside ul.main-menu li a span,
  .playlist,
  .navbar-footer span {
     display: none;
   }

  /* Main Menu */
  aside ul.main-menu {
    flex-grow: 1;
  }

  aside ul.main-menu li a {
    justify-content: center;
    height: 40px;
  }

  aside ul.main-menu > li a img {
    margin-right: 0;
  }

  aside .main-menu a.active {
    border-left: none;
    padding-left: 24px;
  }

  /* Navbar Footer */
  .navbar-footer {
    text-align: center;
  }

  .navbar-footer a img,
  .navbar-footer a img {
    margin-right: 0;
  }

  .navbar-footer a.download {
    border: none;
    position: relative;
    right: 2px;
  }

}

/* ==================================================
——————————————————————————————————————————————————
MAIN
——————————————————————————————————————————————————
================================================== */

main {
  flex-grow: 1;
  padding: 0 32px;
  max-width: 1955px;
  margin: 0 auto;
}

/* ——————————————————————————————————————————————————
Header */

header {
  background: rgba(0,0,0,.8);
  width: calc(100% - 230px); /* Variare con width Navbar */
  height: 90px;
  top: 0;
  right: 0;
  padding: 12px 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a.btn-white-outline:hover {
  transform: scale(1.1);
}

/* ——————————————————————————————————————————————————
Main */

/* List general */
nav.list-general ul {
  padding-top: calc(90px + 16px); /* Variare con height Header */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav.list-general ul li a {
  color: #b3b3b3;
  padding: 4px 12px;
  text-transform: uppercase;
  display: inline-block;
}

nav.list-general ul li a:hover {
  color: #fff;
}

nav.list-general ul li a.active:after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: #1ed760;
  margin: 3px auto 0;
}

/* Albums */
.albums {
  margin: 32px 0;
}

.albums h2 {
  font-size: 28px;
  color: #fff;
  margin: 24px 0 12px;
}

.albums p {
  /* margin-bottom: 24px; */
}

.albums-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 24px;
}

.album-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Per i testi che vanno su + righe */
  flex-basis: calc((100% / 6) - 12.5px);
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.albums-list div:nth-of-type(6n+0) {
  margin-right: 0;
}

.album-item img {
  width: 100%;
}

.album-item .album-cover {
  position: relative;
}

.album-item .album-cover:before {
  content: '';
  background: rgba(0,0,0,.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  display: none;
}

.album-item .album-cover:after {
  content: '\f144';
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.album-item:hover .album-cover:before,
.album-item:hover .album-cover:after {
  display: block;
}

.album-item h3 {
  color: #fff;
  margin: 12px 0 8px;
}

.album-item h3 a {
  color: #fff;
  margin: 12px 0 8px;
  display: block;
}

.album-item h3 a:hover {
  text-decoration: underline;
}

/* ——————————————————————————————————————————————————
Responsive */

/* Fino a large desktops */
@media screen and (max-width: 1199px) {
  .album-item {
    flex-basis: calc((100% / 4) - 11.3px);
    margin-right: 15px;
  }
  .albums-list div:nth-of-type(4n+0) {
    margin-right: 0;
  }
}

/* Fino a small desktops */
@media screen and (max-width: 768px) {
  .album-item {
    flex-basis: calc(50% - 7.5px);
  }
  .albums-list div:nth-of-type(2n+0) {
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {

  header {
    width: calc(100% - 88px); /* Variare con width Navbar */
  }
}

/* ==================================================
——————————————————————————————————————————————————
FOOTER
——————————————————————————————————————————————————
================================================== */

footer {
  background: #282828;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0 16px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a.player-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

a.player-ico {
  color: #b3b3b3;
}

a.ico-play-pause {
  border: 1px solid #fff;
  border-radius: 50%;
}

a.player-ico i {
  font-size: 16px;
}

/* ——————————————————————————————————————————————————
Now Playing */

.now-playing, .settings {
  display: flex;
  align-items: center;
  flex-basis: 320px;
  flex-shrink: 1;
}

.now-playing img{
  width: 56px;
  margin-right: 24px;
}

.now-playing .current-track {
  flex: 4;
}

.now-playing .current-track a h4 {
  color: #fff;
  display: block;
}

.now-playing .current-track a {
  color: #b3b3b3;
  display: block;
}

.now-playing .current-track h4 a {
  color: #fff;
  display: block;
}

.now-playing .current-track a:hover {
  color: #fff;
  text-decoration: underline;
}

.now-playing .current-track h4 a:hover {
  text-decoration: none;
}

.now-playing .track-like {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  flex-wrap: wrap;
}

.now-playing .track-like a {
  margin: 0;
}

/* ——————————————————————————————————————————————————
Player */

.player {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 40%;
  padding: 0 24px;
}

.player-icons {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 0;
  flex-shrink: 1;
  align-items: center;
  margin-bottom: 8px;
}

.player-icons > a.player-ico {
  margin: 0 12px;
}

.player-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 6px
}

.player-time p {
  flex-basis: auto;
  font-size: 11px;
}

.time-bar {
  flex: 1;
  height: 5px;
  background: #404040;
  border-radius: 3px;
  display: flex;
  margin: 0 12px;
  cursor: pointer;
}

.time-current {
  background: #b0b0b0;
  border-radius: 3px;
  width: 33.33%;
  position: relative;
}

.time-current span {
  width: 16px;
  height: 16px;
  background: #b3b3b3;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  display: none;
}

.time-bar:hover .time-current {
  background: #1ed760;
}

.time-bar:hover .time-current span {
  display: block;
}

/* ——————————————————————————————————————————————————
Settings */

.settings i {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  flex-wrap: wrap;
}

/* ——————————————————————————————————————————————————
Responsive */

@media screen and (max-width: 768px) {

  .player-icons > a.player-ico {
    margin: 0;
  }

}

@media screen and (max-width: 576px) {

  .player {
    flex-basis: 50%;
  }

  .settings {
    flex-wrap: wrap;
  }

}
